		body{
			margin:12px;
			font-size:16px
		}
		div,td,span{
			font-size:16px
		}
		.res_tbl td{
			padding:4px 20px;
			border: 1px #808080 solid;
			border-collapse: collapse;
			border-spacing : 0px;
		}

		.res_tbl{
			border-collapse: collapse;
			border-spacing : 0px;
		}